/* stylelint-disable */
/* ------------------------------------------------------------ *\
    Base WordPress CSS
    Feel free to modify or outright delete these default styles.
\* ------------------------------------------------------------ */

.alignnone,
.alignleft,
.alignright,
.aligncenter {
  margin: 5px 15px 10px;
}

.alignleft {
  margin-left: 0;
}

.alignright {
  margin-right: 0;
}

.alignnone {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  position: relative;
}

.wp-caption img {
  width: 100%;
}

.wp-caption-text {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 5px 10px;
  position: absolute;
  right: 0;
}

/* ------------------------------------------------------------ *\
    Gallery
\* ------------------------------------------------------------ */

.gallery {
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
}

.gallery .wp-caption-text {
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-align: left;
}

.gallery-item {
  float: left;
  padding: 10px;
  position: relative;
}

.gallery-item img {
  width: 100%;
}

.gallery-columns-1 .gallery-item {
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.67%;
}

.gallery-columns-7 .gallery-item {
  width: 14.29%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.11%;
}

.gallery-columns-7 .wp-caption,
.gallery-columns-8 .wp-caption,
.gallery-columns-9 .wp-caption {
  display: none;
}

/* ------------------------------------------------------------ *\
    Pagination
\* ------------------------------------------------------------ */

.paging {
  padding: 0 0 20px;
  text-align: center;
}

.paging ul {
  list-style: none outside none;
}

.paging ul,
.paging li {
  display: inline-block;
  vertical-align: top;
}

.paging a {
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  margin: 0 2px;
  padding: 4px 10px;
  text-decoration: none;
}

.paging .current a,
.paging a:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}

.paging-label {
  padding-right: 10px;
}

/* ------------------------------------------------------------ *\
    Comments
\* ------------------------------------------------------------ */

.section-comments {
  padding-top: 15px;
}

.section-comments a {
  text-decoration: none;
}

.section-comments p {
  padding-bottom: 18.2px;
}

.section-comments ol,
.section-comments ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.section-comments h3 {
  padding: 0 0 10px;
  position: relative;
}

.section-comments h3 small {
  position: absolute;
  right: 0;
  top: 0;
}

.comments,
.comments .children {
  position: relative;
}

.comments .children:before,
.comments .children:after {
  content: '';
  display: block;
  position: absolute;
}

.comments .children:before {
  border-bottom: 8px solid #c3c3c3;
  border-left: 8px solid #c3c3c3;
  border-radius: 0 0 0 8px;
  height: 27px;
  left: 23px;
  top: 33px;
  width: 32px;
}

.comments .children:after {
  border: 20px solid transparent;
  border-bottom-color: #c3c3c3;
  border-width: 20px 19px;
  left: 8px;
  top: -5px;
}

.comments .comment {
  border-top: 1px dashed #363636;
  position: relative;
}

.comments .children {
  padding-left: 70px;
}

.comments .avatar {
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 48px;
  left: 0;
  position: absolute;
  top: 28px;
  width: 48px;
}

.comments .says {
  padding-left: 5px;
}

.comments .moderation-notice {
  color: #999;
  display: inline-block;
  margin: 3px 0 8px;
}

.comments .comment-entry {
  padding: 30px 0 30px 65px;
  position: relative;
}

.comments .comment-text p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.comments .comment-meta {
  padding-bottom: 12px;
}

.comments .comment-meta a {
  color: #363636;
}

.comments .comment-reply {
  padding-top: 10px;
  text-align: right;
}

.comments .comment-reply a {
  background: #363636;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
}

.comments .comment-reply a:hover {
  opacity: .8;
  text-decoration: none;
}

.comment-respond {
  border-top: 1px solid #363636;
  padding-top: 30px;
  width: 100%;
}

.comment-respond h3 {
  position: relative;
}

.comment-respond small {
  position: absolute;
  right: 0;
  top: 0;
}

.comment-respond label {
  display: block;
  padding-bottom: 4px;
}

.comment-respond input[type="text"],
.comment-respond textarea {
  background: #f7f7f7;
  border: 1px solid #ccc;
  display: block;
  padding: 10px;
  width: 80%;
}

.comment-respond textarea {
  height: 100px;
  width: 100%;
}

.comment-respond input[type="text"]:focus {
  background-color: #fff;
}

.comment-respond input[type="text"]::-webkit-input-placeholder {
  color: #777;
}

.comment-respond input[type="text"]::-moz-placeholder {
  color: #777;
}

.comment-respond input[type="text"]:-ms-input-placeholder {
  color: #777;
}

.comment-respond input[type="text"]::placeholder {
  color: #777;
}

.comment-respond textarea {
  width: 100%;
}

.comment-respond .required {
  color: #e40000;
}

.comment-respond .comment-notes {
  padding-top: 15px;
}

.comment-respond .form-submit input {
  background: #363636;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 160px;
}

.nocomments {
  font-size: 18px;
  font-weight: bold;
  padding-top: 12px;
}

/* ------------------------------------------------------------ *\
    Search Form
\* ------------------------------------------------------------ */

.search-form {
  overflow: hidden;
  position: relative;
}

.search-form .search-form__field {
  background: #f7f7f7;
  border: 1px solid #ccc;
  display: block;
  padding: 10px;
  width: 100%;
}

.search-form .search-form__field:focus {
  background-color: #fff;
}

.search-form .search-form__field::-webkit-input-placeholder {
  color: #777;
}

.search-form .search-form__field::-moz-placeholder {
  color: #777;
}

.search-form .search-form__field:-ms-input-placeholder {
  color: #777;
}

.search-form .search-form__field::placeholder {
  color: #777;
}

.search-form .screen-reader-text {
  height: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 0;
}
