.section-hero {
  background: linear-gradient(to right, #ff0144 10%, #ff9700 100%);
  display: flex;
  min-height: 550px;
  position: relative;
  width: 100%;
}

.hero-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: font( primary );
  height: 100%;
  justify-content: space-between;
}

.hero-content-left,
.hero-content-right {
  display: flex;
  flex-wrap: wrap;
}

.hero-content-left {
  flex-basis: 45%;
}

.hero__title {
  color: #fff;
  font-size: 38px;
}

.btn-hero {
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 13px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease-in-out;

  &:hover {
    background: #fff;
    color: #ff0144;
  }
}

.hero-content-right {
  align-items: flex-end;
  flex-basis: 55%;
  height: 100%;
  justify-content: center;

  .hero-thumb {
    height: auto;
    max-width: 100%;
    width: auto;
  }
}


@media (max-width: 600px ) {

  .hero__title {
    font-size: 26px;
  }

  .hero-content-right {
    align-items: baseline;
    height: auto;

    .hero-thumb {
      height: auto;
      max-width: 100%;
      width: 100%;
    }
  }

  .hero-content-left,
  .hero-content-right  {
    flex-basis: 100%;
  }
}
