$colors: (
  common: (
    darken: rgba(#000, .7),
    lighten: rgba(#fff, .7)
  ),

  palette: (
    primary: linear-gradient(#e66465, #9198e5),
    secondary-base: #0969A2,
    secondary-darken: darken(#0969A2, 20%)
  ),

  text: (
    base: #353535,
    title: #07a,
    link: green
  ),
);
