.ui-highlight {
  margin: 18px 0;

  code[class*="language-"],
  pre[class*="language-"] {
    font-family: "Roboto Mono", Monaco, courier, monospace;
    line-height: 18px;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #f8f8f8;
    font-size: 12px;
  }
}
