.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  margin: .5rem 0 1rem 0;
  position: relative;
  transition: box-shadow .25s;

  &__image {
    position: relative;
  }

  &__title {
    bottom: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    left: 0;
    max-width: 100%;
    padding: 24px;
    position: absolute;
  }

  &__content {
    border-radius: 0 0 2px 2px;
    padding: 24px;

    p {
      margin: 0;
    }
  }

  &__action {
    background-color: inherit;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 16px 24px;
    position: relative;
  }

  &__link {
    color: #ffab40;
    margin-right: 24px;
    text-transform: uppercase;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}
