.section-navbar {
  background: #fff;
  padding: 23px 0;
  width: 100%;
  z-index: 9;
}

.fixed-header {
  z-index: 9;
}

.navbar,
.navbar-logo,
.menu-list,
.btn-contet {
  display:  flex;
  flex-wrap:  wrap;
}

.navbar {
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  align-self: center;
  flex-basis: 235px;
  height: 100%;
}

.menu-burger {
  display: none;
}

.menu-list {
  align-items: center;
  flex-basis: calc( 100% - 400px );
  justify-content: space-evenly;
  list-style:  none;
  padding: 0;
}

.menu-item {

  a {
    color: #444;
    font-size: 14px;
    text-decoration: none;
  }
}

.btn-contet {
  align-self: center;
  flex-basis: 160px;
  height: 100%;

  .btn-menu {
    align-self: center;
    background: #ffa300;
    border-radius: 5px;
    box-shadow: 0px 0px 6px -3px #000;
    color: #fff;
    display: flex;
    font-size: 14px;
    height: 100%;
    padding: 14px 45px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;

    &:hover {
      background: #f7a129;
      box-shadow: 0px 1px 12px -4px #000;
    }
  }
}


@media ( max-width: 600px ) {

  .menu-burger {
    align-items: center;
    display:  flex;
    flex-basis: 30px;
    flex-wrap:  wrap;
    height: 25px;
    width:  50px;
  }

  .menu-burger span {
    background: #ea4c3a;
    cursor: pointer;
    height: 3px;
    width: 100%;
  }

  .menu-list {
    background: #fff;
    display: none;
    flex-basis: 100%;
    justify-content: start;
    left: 0;
    padding: 25px;
    position: absolute;
    right: 0;
    top: 60px;
    transition: .3s ease-in-out;

    &.active {
      display: block;
    }

    .menu-item {
      margin-bottom: 15px;
      width: 100%;
    }
  }

  .navbar-logo {
    align-self: center;
    height: 100%;

    img {
      height: 50px;
      max-width: 100%;
      width: auto;
    }
  }

  .btn-contet {
    flex-basis: 100%;

    .btn-menu {
      margin: 0 auto;
      margin-top: 10px;
      padding: 10px 20px;
    }
  }
}
