$sizes: (
  base  : 16px,
  small : 11px,
  medium: 20px,
  large : em( 24px ),
  bigger: em( 60px ),
  title : em( 18px ),
  text  : em( 16px ),
  label : em( 11px ),
  input : em( 14px ),
  h1    : em( 30px ),
  h2    : em( 28px ),
  h3    : em( 26px ),
  h4    : em( 24px ),
  h5    : em( 22px ),
  h6    : em( 22px )
);
