// ::ADDON
// --------------------------------------------------------------------
$prefix: ui;

// ::FONTS
// --------------------------------------------------------------------
$font-primary: Helvetica Neue, sans-serif;

// ::COLORS
// --------------------------------------------------------------------
$color-white-200: #f8f9f9;

$color-gray-100: #838c91;
$color-gray-200: #d6dadc;
$color-gray-300: #edeff0;
$color-gray-400: #e2e4e6;
$color-gray-900: #333;

$color-text    : $color-gray-900;
